@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-blue:#3F76BA;
    --secondary-blue:#294172;
    --white:#FFFFFF;
    --blue-two:#3C6EB4;
    --black:#111827;
    --text-blue:#51A2DA;
}

body{
    font-family: "Roboto",sans-serif;
}


/* NavBar */

nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

nav .container{
    height: 55px;
    background-image: linear-gradient(to right, #2B467A,#3C6EB3);
    display: flex;
}

nav .container .one a{
    cursor: default;
}

nav .container .one svg{
    margin:10px 15px;
    fill: var(--white);
    width: 128px;
    transition: 300ms;
}

nav .container .one svg:hover{
    fill: #94A1BA;
}

nav .container .two{
    margin-left: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .container .two ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; 
}

nav .container .two ul li{
    list-style: none;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
}

nav .container .two ul li:hover{
    background-color: #4078BB;
}

nav .container .two ul a{
    color: var(--white);
    width: 100%;
    height: 100%;
    cursor: default;
    text-decoration: none;
    font-size: 15px;
}

nav .container .two ul svg{
    fill: var(--white);
    width: 14px;
    margin-right: 25px;
}

.menuicon{
   width: 50px;
   height: 40px; 
   position: fixed;
   top: 6px;
   right: 10px;
   display: none;
}

/* 800 drop  */

.dropNav{
    position: fixed;
    background-color: #171717;
    top: 55px;
    right: 0;
    left: 0;
    height: 93%;
    z-index: 80;
    display: none;
}


.dropNav .top{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #2B467A,#3C6EB3);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dropNav .top .one{
    background-color: #1F3156;

}

.dropNav .top div{
      padding: 5px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropNav .top div svg{
    width: 23px;
    fill: var(--white);
}

.dropNav .top div p{
    color: var(--white);
}

/*   Section one nav bar */

@media(max-width:800px){
  
nav .container .two{
    display: none;
}    


.menuicon{
    display: block;
}

.dropNav{
    position: fixed;
    background-color: #171717;
    top: 55px;
    right: 0;
    left: 0;
    height: 93%;
    z-index: 80;
}

}




/* Section one */

.sec-1{
    background-image: linear-gradient(#3E72B7,#4E9BD5);
    width: 100%;
    height: auto;
    padding-top: 60px;
}

.sec-1 .one{
    width: 100%;
    display: flex;
}

.sec-1 .one .content{
    background-color: var(--blue-two);
    padding: 10px;
    margin-top: 55px;
    margin-left: auto;
    border-radius: 5px;
    display: flex;
    justify-content:flex-start;
    width: 370px;
    font-family:fantasy;
}

.sec-1 .one .content p{
    padding: 10px;
    margin-right: 10%;
}

.sec-1 .one .content p a{
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}

.sec-1 .two{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-family: Montserrat,ui-sans-serif,system-ui,sans-serif;
}

.sec-1 .two .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 840px;
}

.sec-1 .two .content h1{
    font-size: 59px;
    line-height: 2;
}

.sec-1 .two .content h3{
    font-size: 28px;
    padding:0 60px;
    text-align: center;
    font-weight: 500;
}

.sec-1 .two .content p{
    font-size: 18px;
    line-height: 4;
}

.sec-1 .two .content .circle{
    background-color: #60A5FA;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-1 .two .content .circle a{
    text-decoration: none;
    color: var(--white);
}

.sec-1 .two .content .circle a h2{
    text-align: center;
    font-size: 55px;
}

.sec-1 .three{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0px 55px;
    align-items: center; 
}

.sec-1 .three a{
    text-decoration: none;
   }

.sec-1 .three a h3{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.sec-1 .four{
    color: var(--black);
}

.sec-1 .four svg{
    fill: var(--black);
}

/* Section two media query */
@media(max-width:870px){
    .sec-1 .one .content{
        width: 300px;
    }

    .sec-1 .one .content p a{
        font-size: 15px;
    }

    .sec-1 .two .content h1{
        font-size: 42px;
    }

    .sec-1 .two .content h3{
        font-size: 16px;
        width: 418px;
    }

    .sec-1 .two .content p{
        font-size: 16px;
    }


}

@media(max-width:650px){
    .sec-1 .one .content{
        margin-top: 30px;
    }

    .sec-1 .two .content h1{
        font-size: 30px;
    }

    .sec-1 .two .content p{
        font-size: 14px;
    }

    .sec-1 .two .content .circle{
        height: 120px;
        width: 120px;
    }

    .sec-1 .two .content .circle a span{
        font-size: 11px;
    }

    .sec-1 .two .content .circle a h2{
        font-size: 35px;
    }

    .sec-1 .three a{
        display: none;
    }

}

@media(max-width:445px){
    .sec-1 .two .content h1{
        font-size: 25px;
    }
}

/* Section two */
.sec-2{
    background-color: var(--black);
    height: auto;
    margin-top: -10px;
}

.sec-2 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin: 0 80px;
}


.sec-2 .container .card{
    background-color: #1F2937;
    width: 390px;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    position: relative;
    margin-top: 90px;
}

.sec-2 .container .card img{
    width: 300px;
    position: absolute;
    top: -26px;
}

.sec-2 .container .card .mar-tp{
    margin-top: 50px;
}

.sec-2 .container .card .mar-tp p{
    margin-top: 10px;
}

.sec-2 .container .card .anchor{
    font-size: 17px;
    color: #3C6EB4;
}

.sec-2 .container .card a{
    text-decoration: none;
}

.sec-2 .container .card a h2{
    font-family:'Poppins',sans-serif;
    background-image:linear-gradient(43deg , #75D641 , #54A6CD);
    -webkit-background-clip:text;
    color:transparent;
    font-size: 37px;
}

.sec-2 .container .card a p{
    color: #D1D5DB;
    font-size: 19px;
}

.sec-2 .container .card .bottom{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.sec-2 .container .card .bottom .btn {
    margin-left: auto;
    text-decoration: none;
}

.sec-2 .container .card .bottom a .btn{
    background-color: var(--primary-blue);
    padding: 15px 25px;
    border-radius: 5px;
    transition: 300ms;
}

.sec-2 .container .card .bottom a .btn:hover{
    background-color: #295178;
}



.sec-2 .container .card .bottom a .btn p{
    color: var(--white);
    font-size: 19px;
}

.sec-2 .container .card2 img{
    width: 200px;
}

.sec-2 .container .card3 img{
    width: 150px;
}

.sec-2 .container .card4 img{
    width: 190px;
}

.sec-2 .container .card5 img{
    width: 190px;
}

.sec-2 .container .card .bottom{
    margin-top: auto;
    padding-top: 10px;
}

/* Section two media query */
@media(max-width:1010px){

    .sec-2 .container{
        flex-direction: column;
        align-items: center;
    }

    .sec-2 .container .card{
        width: 100%;
        margin-top: 0;   
    }

    .sec-2 .container .card1{
        margin-top: 50px;
    }
}

@media(max-width:750px){

    .sec-2 .container{
        margin: 0 10px;
    }

    .sec-2 .container .card a h2{
        font-size: 22px;
    }

    .sec-2 .container .card a br{
        display: none;
    }

    .sec-2 .container .card .bottom a .btn{
        padding: 5px 10px;
    }
}

@media(max-width:500px){
.sec-2 .container .card a p{
        font-size: 16px;
    }
}

/* Section Three */

.sec-3{
    height: auto;
    width: 100%;
    background-color: var(--black);
}

.sec-3 .head{
    height: auto;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
}

.sec-3 .head h2{
    color: var(--text-blue);
    font-size: 42px;
    text-align: center;
    font-weight:500;
}

.sec-3 .content{
    background-image: linear-gradient(to right, #3B4D46,#213B56);
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.sec-3 .content div{
    height: auto;
    padding: 30px 20px 40px 20px;
    width: 364px;
    line-height: 1.5;
}

.sec-3 .content div h2{
    font-size: 33px;
    color: var(--text-blue);
    width: 100%;
}

.sec-3 .content div p{
    color: var(--white);
    font-size: 18px;
}

.sec-3 .content div a{
    color: var(--white);
    text-decoration: none;
    transition: 100ms;
    font-size: 20px;
}

.sec-3 .content div a:hover{
    text-decoration: underline;
}

/* Section three media query */

@media(max-width:740px){
    .sec-3 .content div{
        padding: 20px 20px;
    }
}

@media(max-width:540px){
    .sec-3 .head h2{
        font-size: 32px;
        margin: 0 5px;
    }

    .sec-3 .content div h2{
        font-size: 25px;
    }

    .sec-3 .content div p{
        font-size: 16px;
    }

    .sec-3 .content div a{
        font-size: 16px;
    }

}

/* Secton four */

.sec-4{
    background-color: var(--black);
    width: 100%;
    height: auto;
    padding: 100px 0 60px 0;
}


.sec-4 .head h2{
    color: var(--text-blue);
    font-size: 40px;
    text-align: center;
    font-weight: 500;
}

.sec-4 .content{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin: 0 30px;

}

.sec-4 .content div{
    line-height: 1.5;
    width: 380px;
    height: 200px;
    background-color: #1F2937;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.sec-4 .content div h2{
    color: var(--text-blue);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 37px;
}

.sec-4 .content div p{
    color: var(--white);
    font-size: 19px;
    text-align: center;
}

.sec-4 .content div a{
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
    transition: 300ms;
    font-weight: bolder;
}

.sec-4 .content div a:hover{
    text-decoration: underline;
    color: var(--text-blue);
}


/* Footer */

footer .main{
    background-color: #171717;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

footer .main div{
    line-height: 1.6;
}

footer .main div h3{
    color: var(--white);
    font-size: 26px;
}

footer .main div a{
    color: var(--white);
    text-decoration: none;
    font-size: 19px;
    display: flex;
}


footer .second{
    background-color: #171717;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: flex-start;
}

footer div img{
    width: 170px;
    margin-left: 8%;
}

footer .second .center{
    width: 500px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15%;
}

footer .second .center div a{
    color: #aaabad;
    font-size: 19px;
    transition: 300ms;
    margin-right: 10px;
}

footer .second .center div a:hover{
    color: #6E757E;
}

footer .second .center div p{
    color: #3B3E43;
    font-size: 19px;
}

footer .third{
    background-color: #000000;
    padding: 30px;
    display: flex;
}

footer .third .center{
    display: flex;
    flex-direction: column;
    margin-left: 12%;
}

footer .third .center *{
    font-size: 19px;
}

footer .third .center p{
    color: #F9F9F9;
}

footer .third .center a{
    color: #7D8187;
}